@import 'tailwindcss';

:root {
  --sl-color-primary: #ff5722;
  --sl-color-neutral-100: #f5f5f5;
  --sl-border-radius-medium: 10px;
  --sl-focus-ring-width: 2px;
  --sl-input-height-medium: 3rem;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  display: block;
  height: 100%;
}

a,
button {
  cursor: pointer;
}

#header {
  background: rgba(43, 35, 8, 1);
}

#mySwiper,
.grid {
  background: #fffca6;
  background: radial-gradient(circle, rgba(255, 252, 166, 1) 0%, rgba(43, 35, 8, 1) 100%);
}
