@use 'tailwindcss';

:root {
  --blue: #007aff;
  --blue-lite: #bcd8f7;
  --blue-lite-2: #698196;
  --blue-dark: #071a2e;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  display: block;
  height: 100%;
}


::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: transparent;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: #bebebe;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: #4d4d4d;
}

a,
button {
  cursor: pointer;
}

.btn {
  border-radius: 4px;
}

#page {
  height: calc(100vh - 50px);
  margin-top: 50px;
}

#list_popup_overlay {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: -50px;
  z-index: 988;
  background: rgba(0, 0, 0, 0.6);
}

.progress-wrapper {
  position: fixed;
  z-index: 1555;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: white;

  #progress {
    position: relative;z-index: 992;
    background: rgba(0, 0, 0, 0.4);
    padding: 4px 6px;
    border-radius: 4px;
  }
}

@mixin button-style($bg, $text-Color:white) {
  border-radius: 4px;
  padding: 2px 6px;
  background: $bg;
  color: $text-Color;
}

.loader-wrapper {
  height: 100vh;
}

.imgList.grid {
  >div {
    position: relative;

    >div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  img {
    content: "";
    min-height: 150px;

    &:after {
      content: "";
      position: absolute;
      top: 50%;

      left: 50%;
      transform: translate(-50%, 50%);
      width: 20px;
      height: 20px;
      border: 2px solid transparent;
      border-top: 2px solid;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn-primary {
  @include button-style(var(--blue-dark), var(--blue-lite));
  background-color: var(--blue-dark);
  color: var(--blue-lite);

  svg {

    path,
    line {
      stroke: var(--blue);
      fill: none;
    }
  }
}

.btn-outline {
  padding: 2px 6px;
}

.btn-wa {
  border: 1px solid #25d366
}

.btn-fb {
  border: 1px solid #0866ff
}

.btn-secondary {
  @include button-style(var(--blue-lite), var(--blue-dark));
  background-color: var(--blue-lite);

  svg {

    path,
    line {
      stroke: var(--blue);
      fill: none;
    }
  }
}

#header {
  background: var(--blue-dark);
}

#mySwiper {
  background: #fffca6;
  background: radial-gradient(circle, var(--blue-lite) 0%, var(--blue-dark) 100%);
}


.btn-download {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
